
{% extends "base.html" %}

{% block page_content %}


<div class="mw6 center pa3 sans-serif">

  <h1 class="mb4">Add Customer</h1>

<form action='http://127.0.0.1:8000/addcustomer/customerconfirmation/' method="POST">
  {% csrf_token %}
  <label> Date of Request</label>
  <input type="date" class="form-control" id="date" value="{{Delivery_Request.request_date|date:"Y-m-d" }}"required><br>
  <label> First Name </label>
  <input type="text" id="firstname" name="firstname" required><br>
  <br>
  <label> Last Name </label>
  <input type="text" id="lastname" name="lastname" required><br>
  <br>
  <label> Address </label>
  <input type="text" id="address" name="address" required><br>
  <br>
  <label> Origin Area </label><br>
  <input type="radio" id="luzon" name="originarea" value="Luzon" checked="checked">
  <label for="luzon">Luzon</label><br>
  <input type="radio" id="visayas" name="originarea" value="Visayas">
  <label for="visayas">Visayas</label><br>
  <input type="radio" id="mindanao" name="originarea" value="Mindanao">
  <label for="mindanao">Mindanao</label><br>
  <br>
  <label> Phone Number</label>
  <input type="text" id="phonenum" name="phonenum" required><br>
  <br>

  <h3> Recipient Details </h3>
  <label> Recipient First Name </label>
  <input type="text" id="recipientfirstname" name="recipientfirstname" required><br>
  <br>
  <label> Recipient Last Name </label>
  <input type="text" id="recipientlastname" name="recipientlastname" required><br>
  <br>
  <label> Destination Area </label><br>
  <input type="radio" id="luzon" name="destinationarea" value="Luzon" checked="checked">
  <label for="luzon">Luzon</label><br>
  <input type="radio" id="visayas" name="destinationarea" value="Visayas">
  <label for="visyas">Visayas</label><br>
  <input type="radio" id="mindanao" name="destinationarea" value="Mindanao">
  <label for="mindanao">Mindanao</label><br>
  <br>
  <label> Recipient Address</label>
  <input type="text" id="recipientaddress" name="recipientaddress" required><br>
  <br>
  <label> Recipient Phone Number </label>
  <input type="text" id="recipientphone" name="recipientphone" required><br>
  <br>
  <label> Service Type</label><br>
  <input type="radio" id="express" name="servicetype" value="Express" checked="checked">
  <label for="express">Express</label><br>
  <input type="radio" id="ordinary" name="servicetype" value="Ordinary">
  <label for="ordinary">Ordinary</label><br>
  <br>
  <label> Package Type</label>
  <select name="packagetype" id="packagetype" required>
    <option value="Letter">Letter</option>
    <option value="Package">Package</option>
    <option value="Parcel">Parcel</option>
    <option value="Box">Box</option>
  </select><br>
  <br>
  <label> Weight</label>
  <input type="text" id="weight" name="packageweight" required><br>
  <br>
  <br>
  <label>Total Cost</label>
<br>

<button onclick="location.href='http://127.0.0.1:8000'" type="button"> Back</button>

<input type='submit' value='Submit'>
</form>

</div>

{% endblock %}
