
{% extends "base.html" %}

{% block page_content %}


<div class="mw6 center pa3 sans-serif">
  {% load static %}
  <center>
  <img src='{% static 'delivery_tracker/images/box-logo.png' %}' alt="Blue Mark Box Logo" style="width:100px;height:100px;vertical-align:middle;">
  <h1 class="mb4 blue b">Create Delivery Request</h1>
  </center>



<form action='http://127.0.0.1:8000/createdeliveryrequest/customerconfirmation/' method="POST">
  {% csrf_token %}
  <label class="fl w-40 b"> Date of Request</label>
  <input type="date" class="form-control" id="date" name="requestdate" value="{{Delivery_Request.request_date|date:"Y-m-d" }}" required><br>

  <br>
  <h3 class="blue">Sender Details</h3>
  <br>
  <label class="fl w-40 b"> First Name </label>
  <input type="text" id="firstname" name="firstname" class="fl w-60" required><br>
  <br>
  <label class="fl w-40 b"> Last Name </label>
  <input type="text" id="lastname" name="lastname" class="fl w-60" required><br>
  <br>
  <label class="fl w-40 b"> Address </label>
  <input type="text" id="address" name="address" class="fl w-60" required><br>
  <small class="f6 black-60 db mb2">House No., Street, Barangay, City, Region, Postal Code</small>
  <br>
  <label class="fl w-40 b"> Phone Number</label>
  <input type="text" id="phonenum" name="phonenum" class="fl w-60" required><br>
  <br>

  <h3 class="blue"> Recipient Details </h3>
  <br>
  <label class="fl w-40 b"> Recipient First Name </label>
  <input type="text" id="recipientfirstname" name="recipientfirstname" class="fl w-60" required><br>
  <br>
  <label class="fl w-40 b"> Recipient Last Name </label>
  <input type="text" id="recipientlastname" name="recipientlastname" class="fl w-60" required><br>
  <br>
  <label class="fl w-40 b"> Recipient Address</label>
  <input type="text" id="recipientaddress" name="recipientaddress" class="fl w-60" required>
  <small class="f6 black-60 db mb2">House No., Street, Barangay, City, Region, Postal Code</small><br>
  <label class="fl w-40 b"> Recipient Phone Number </label>
  <input type="text" id="recipientphone" name="recipientphone" class="fl w-60" required><br>
  <br>

  <h3 class="blue">Package and Delivery Details</h3>
  <br>
  <label class="fl w-40 b"> Service Type</label>
  <input type="radio" id="express" name="servicetype" value="Express" class="fl w-10" checked="checked">
  <label for="express" class="fl w-20">Express</label>
  <input type="radio" id="ordinary" name="servicetype" value="Ordinary" class="fl w-10">
  <label for="ordinary" class="fl w-20">Ordinary</label>
  <br>
  <br>
  <label class="fl w-40 b"> Package Type</label>
  <select name="packagetype" id="packagetype" class="fl w-60" required>
    <option value="Letter">Letter</option>
    <option value="Package">Package</option>
    <option value="Parcel">Parcel</option>
    <option value="Box">Box</option>
  </select><br>
  <br>
  <label class="fl w-30 b"> Origin Area </label><br>
  <small class="f6 black-60 db mb2 fl w-40">Based on Sender's Address</small>
  <select name="originarea" id="originarea" class="fl w-60" required>
    <option value="Luzon">Luzon</option>
    <option value="Visayas">Visayas</option>
    <option value="Mindanao">Mindanao</option>
  </select>
  <br>
  <br>
  <br>
  <label class="fl w-30 b"> Destination Area </label><br>
  <small class="f6 black-60 db mb2 fl w-40">Based on Recipient's Address</small>
  <select name="destinationarea" id="destinationarea" class="fl w-60" required>
    <option value="Luzon">Luzon</option>
    <option value="Visayas">Visayas</option>
    <option value="Mindanao">Mindanao</option>
  </select>  </select>
  <br>
  <br>
  <br>
  <label class="fl w-40 b"> Package Weight</label>
  <input type="text" id="packageweight" name="packageweight" class="fl w-60" required><br>
  <small class="f6 black-60 db mb2">in grams (g)</small><br>

<br>
<div align="right">
<button onclick="location.href='http://127.0.0.1:8000'" type="button" class="f6 bn link grow br3 ph4 pv2 mb3 blue bg-white dib w7"> Back</button>

<input type='submit' value='Submit' class="f6 bn link grow br3 ph4 pv2 mb3 white bg-blue dib w7">
</form>
</div>
</div>

{% endblock %}
