{% extends "base.html" %} {% block page_content %}

<div class="mw6 center pa3 sans-serif">
  <h1 class="mb4">Customer: {{ customers.firstname }} {{customers.lastname}}</h1>

  <p class="b mb2">Address: {{ customers.address }}</p>
  <p class="b mb2">Phone: {{ customers.phone}}</p>

  <h2 class="mt4">Delivery Requests:</h2>
  {% for r in requests %}

  <div class="pa2 mb3 striped--near-white">
    <div class="pl2">
      <p class="mb2">Control Number: {{ r.control_number }}</p>
      <p class="mb2">Request Date: {{ r.request_date }}</p>
      <p class="mb2">Service: {{ r.service.service_type}}</p>
      <p class="mb2">Route: {{ r.route}}</p>
      <p class="mb2">Package Type: {{ r.package.package_type}}</p>
      <p class="mb2">Package Weight: {{ r.package.package_weight}} g</p>
      <p class="mb2">Sample Data: {{ r.weight_cost_matrix.base_cost}}</p>
    </div>
  </div>

  {% endfor %}
  <br>
  <button onclick="location.href='http://127.0.0.1:8000/viewcustomers/'" type="button"> Back</button>
</div>

{% endblock %}
