<!doctype html>

<html>

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blue Mark</title>

  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />

  <h1>Blue Mark</h1>

  <form action="http://127.0.0.1:8000/addcustomer">
    <input type="submit" value="Add Customer" />
  </form>

  <form action="http://127.0.0.1:8000/viewcustomers">
    <input type="submit" value="View All Customers" />
  </form>

  <form action="http://127.0.0.1:8000/trackpackages">
    <input type="submit" value="Track Packages" />
  </form>

</head>

<body>

  {% block page_content %}{% endblock %}

</body>

</html>
