
{% extends "base.html" %}




  {% block page_content %}

          <div class="mw6 center pa3 sans-serif">
    <h1 class="mb4">Blue Mark</h1>

  <form class="mb4" action="http://127.0.0.1:8000/addcustomer">
    <input type="submit" value="Add Customer" />
  </form>

  <form class="mb4" action="http://127.0.0.1:8000/viewcustomers">
    <input type="submit" value="View All Customers" />
  </form>

  <form class="mb4" action="http://127.0.0.1:8000/trackpackages">
    <input type="submit" value="Track Packages" />
  </form>

  </div>
  {% endblock %}


</html>
