{% extends "base.html" %}

{% block page_content %}
<body class="bg-blue">
<div class="mw6 center pa3 sans-serif">
  <!-- <h1 class="mb4">Blue Mark</h1> -->

  {% load static %}
  <center>
  <img src='{% static 'delivery_tracker/images/blue-mark-logo-white.png' %}' alt="Blue Mark Logo" style="width:300px;height:300px;vertical-align:middle;margin:50px 50px 50px 50px">


  <div>
  <div class = "db"><a class="f6 link dim br3 ph3 pv2 mb3 blue bg-white dib w7 w-60" href="createdeliveryrequest/">Create Delivery Request</a><div>
  <div class = "db"><a class="f6 link dim br3 ph3 pv2 mb3 blue bg-white dib w7 w-60" href="viewcustomers/">View Customers</a><div>
  <div class = "db"><a class="f6 link dim br3 ph3 pv2 mb3 blue bg-white dib w7 w-60" href="trackpackages/">Track Packages</a><div>
 <div class = "db"> <a class="f6 link dim br3 ph3 pv2 mb3 blue bg-white dib w7 w-60" href="reports/">See Reports</a><div>

  </center>
</div>

</div>
</body>
{% endblock %}
