{% extends "base.html" %} {% block page_content %}

<div class="mw8 center pa3 sans-serif">
<h1 class = "mb4">{{origin}} to {{destination}} Packages</h1>

        <div class="dt dt--fixed">
          <div class="dtc tc pv4">Control Number</div>
          <div class="dtc tc pv4">Request Date</div>
          <div class="dtc tc pv4">Sender</div>
          <div class="dtc tc pv4">Receiver</div>
          <div class="dtc tc pv4">Package Type</div>
          <div class="dtc tc pv4">Package Weight</div>
          <div class="dtc tc pv4">Status</div>
        </div>
  {% for r in requests %}
        <div class="dt dt--fixed">
          <div class="dtc tc pv4 bg-black-10">{{ r.control_number }}</div>
          <div class="dtc tc pv4 bg-black-10">{{ r.request_date }}</div>
          <div class="dtc tc pv4 bg-black-10">
            {{ r.customer.firstname}} {{ r.customer.lastname}}
          </div>
          <div class="dtc tc pv4 bg-black-10">
            {{ r.receiver.firstname}} {{ r.receiver.lastname}}
          </div>
          <div class="dtc tc pv4 bg-black-10">{{ r.package.package_type}}</div>
          <div class="dtc tc pv4 bg-black-10">
            {{ r.package.package_weight}} g
          </div>
          <div class="dtc tc pv4 bg-black-10">{{ r.delivered}}</div>
        </div>


  {% endfor %}
  <br>
  <button onclick="location.href='http://127.0.0.1:8000/reports'" type="button"> Back</button>

</div>
{% endblock %}
