{% extends "base.html" %}
{% block page_content %}

<div class="mw6 center pa3 sans-serif">
  {% load static %}
  <center>
  <img src='{% static 'delivery_tracker/images/box-logo.png' %}' alt="Blue Mark Box Logo" style="width:100px;height:100px;vertical-align:middle;">
  <h1 class="mb4 blue">View Customers</h1>
  </center>


  <ul class="list pl0 mt0 measure center">
{% for c in customers %}
  <li
    class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
      <div class="pl3 flex-auto">
    <a href = "{% url 'customer_detail' c.id %}" class="b mb2">{{ c.firstname }} {{ c.lastname }}</a>
        <span class="f6 db black-70">{{c.address}}</span>
      </div>
      <div>
        <a href="tel:" class="f6 link blue hover-dark-gray">{{c.phone}}</a>
      </div>
  </li>

{% endfor %}
<br>
<center>
<button onclick="location.href='http://127.0.0.1:8000'" type="button" class="f6 bn link grow br3 ph4 pv2 mb3 white bg-blue dib w7"> Back</button>
</center>
</ul>
</div>


{% endblock %}
